@font-face {
    font-family: "Monserrat";
    src: local("Monserrat-Bold"),
        url("../fonts/montserrat-bold.woff2") format("woff2"),
        url("../fonts/montserrat-bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Monserrat";
    src: local("Monserrat-Regular"),
        url("../fonts/montserrat-regular.woff2") format("woff2"),
        url("../fonts/montserrat-regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Monserrat";
    src: local("Monserrat-Semibold"),
        url("../fonts/montserrat-semibold.woff2") format("woff2"),
        url("../fonts/montserrat-semibold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Monserrat";
    src: local("Monserrat-Extrabold"),
        url("../fonts/montserrat-extrabold.woff2") format("woff2"),
        url("../fonts/montserrat-extrabold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Monserrat";
    src: local("Monserrat-Extrabold"),
        url("../fonts/montserrat-medium.woff2") format("woff2"),
        url("../fonts/montserrat-medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --gap: 31px;
    --orange: #FF9900;
    --orange-lite: #FFB84D;
    --orange-dark: #E1670E;
    --green: #97EE3F;
    --yellow-dark: #A47312;
    --white: #FFF;
    --black: #000;
    --grey-lite: #CACACA;
    --grey-50: rgba(0, 0, 0, 0.5);
    --grey: #666;
    --grey-dark: #414141;
}

a {
    color: inherit;
    text-decoration: none;
    outline: none;
}

img {
    max-width: 100%;
}

body {
    min-width: 320px;
    font-family: "Monserrat", sans-serif;
    font-weight: 400;
}

/* GLOBAL */

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-reset {
    padding: 0;
    cursor: pointer;
    border: none;
}

.btn {
    padding: 20px 38px;
    border-radius: 16px;
    background-color: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: var(--white);
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out
}

.btn,
.btn:active,
.btn:focus {
    outline: none;
}

.flex {
    display: flex;
}

.container {
    max-width: 1870px;
    width: 100%;
    padding: 0 50px;
    margin: 0 auto;
}

.maintitle {
    margin: 0;
    margin-bottom: 24px;
    font-size: 70px;
    font-weight: 800;
    line-height: 85px;
    color: var(--white);
}

.title {
    margin: 0;
    margin-bottom: 20px;
    font-size: 48px;
    font-weight: 400;
    line-height: 59px;
    color: var(--black);
}

.subtitle {
    margin: 0;
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    color: var(--black);
}

.section-descr {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: var(--black);
}


/* HEADER */

.header {
    padding: 13px 0;
    border-radius: 0 0 32px 32px;
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.1);
}

.header__container {
    align-items: center;
    gap: var(--gap);
}

.header__list {
    gap: 85px;
    flex-wrap: wrap;
    row-gap: 20px;
}

.header__logo {
    margin-right: auto;
    color: transparent;
    transition: outline 0.3s ease-in-out
}

.header__logo:focus {
    outline: 1px solid var(--orange);
    outline-offset: 5px;
}

.header__nav {
    margin-right: 55px;
}

.header__item {
    flex-shrink: 0;
}

.header__link {
    position: relative;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    transition: color 0.3s ease-in-out;
}

.header__link::after {
    content: "";
    position: absolute;
    top: 27px;
    left: 0;
    width: 100%;
    outline: 1px solid var(--orange);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.header__link:hover::after {
    opacity: 1;
}

.header__link:focus {
    outline: 2px solid var(--orange);
    outline-offset: 4px;
}

.header__link:active {
    outline: none;
    color: var(--orange-dark);
}

.header__link:active::after {
    outline: 1px solid var(--orange-dark);
    opacity: 1;
}

.header__search {
    stroke: var(--black);
    stroke-width: 2;
    border: none;
    background-color: transparent;
    transition: fill 0.3s ease-in-out, stroke 0.3s ease-in-out;
}

.header__search:hover {
    stroke: var(--orange);
}

.header__search:focus {
    outline: 2px solid var(--orange);
    outline-offset: 4px;
    stroke: var(--black);
}

.header__search:active {
    outline: none;
}


/* BANNER */

.main {
    padding: 24px 0;
}

.banner {
    padding: 26px 0;
}

.banner__container {
    padding: 100px 80px;
    background-image: url("../img/balconies.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 32px;
}

.banner__maintitle {
    max-width: 837px;
}

.banner__descr {
    max-width: 790px;
    margin: 0;
    margin-bottom: 90px;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    color: var(--white);
}

.banner__btn {
    padding: 24px 39px;
    font-size: 23px;
    line-height: 28px;
}

.btn--mod {
    background-color: var(--orange);
}

.btn--mod:focus {
    background-color: var(--orange-lite);
}

.btn--mod:hover {
    background-color: var(--orange-lite);
}

.btn--mod:active {
    background-color: var(--orange-dark);
}

/* ABOUT-US */

.about {
    padding-top: 25px;
    padding-bottom: 50px;
}

.section-descr--margin {
    max-width: 1235px;
    margin-bottom: 50px;
}

.about__main {
    gap: var(--gap);
    --onrow: 2;
}

.about__detail {
    width: calc((100% - var(--gap)) / var(--onrow));
    align-items: end;
    background-image: url("../img/worker.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 32px;
}

.about__content {
    width: 100%;
    padding: 50px 50px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--grey-50);
    border-radius: 32px;
}

.about__descr {
    max-width: 433px;
    font-weight: 700;
    color: var(--white);
}

.about__btn {
    padding: 17px 35px;
    border: 3px solid var(--orange);
    background-color: transparent;
}

.about__btn:focus {
    background-color: var(--orange-lite);
    border: 3px solid var(--orange-lite);
}

.about__btn:hover {
    background-color: var(--orange-lite);
    border: 3px solid var(--orange-lite);
}

.about__btn:active {
    background-color: var(--orange-dark);
    border: 3px solid var(--orange-dark);
}

.about__consult {
    width: calc((100% - var(--gap)) / var(--onrow));
    flex-direction: column;
}

.about__consult-block {
    padding: 64px 60px 60px 300px;
    border: 1px solid var(--grey-lite);
    border-radius: 32px;
    background-repeat: no-repeat;
    background-position: 60px center;
    background-size: contain;
}

.about__consult-block:not(:last-child) {
    margin-bottom: 34px;
}

.about__consult-img1 {
    background-image: url("../img/consult1.svg");
    background-size: 190px 165px;
    background-repeat: no-repeat;
}

.about__consult-img2 {
    background-image: url("../img/consult2.svg");
    background-size: 190px 165px;
    background-repeat: no-repeat;
}

.about__consult-descr {
    max-width: 450px;
}

/* STAGES */

.stages {
    padding: 51px 0;
}

.stages__block {
    justify-content: space-between;
    --onrow: 2;
}

.stages__info {
    max-width: calc((100% - var(--gap)) / var(--onrow));
    width: 100%;
    margin-right: 40px;
}

.stages__block::after {
    content: "";
    max-width: 870px;
    width: 100%;
    margin-top: 8px;
    background-image: url("../img/stages.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    border-radius: 32px;
}

.stages__title {
    margin-bottom: 34px;
}

.stages__descr {
    max-width: 758px;
}

.stages__descr:last-of-type {
    margin-bottom: 16px;
}

.stages__btns {
    flex-wrap: wrap;

}

.btn--detail {
    padding: 20px 38px;
    margin-right: 32px;
}

.btn--detail:focus {
    background-color: var(--orange-lite);
}

.btn--detail:hover {
    background-color: var(--orange-lite);
}

.btn--detail:active {
    background-color: var(--orange-dark);
}

.btn--agree {
    padding: 19px 37px;
    outline: 1px solid var(--black);
    color: var(--black);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.btn--agree:focus {
    background-color: var(--grey);
    outline: 1px solid var(--grey);
    color: var(--white)
}

.btn--agree:hover {
    background-color: var(--grey);
    outline: 1px solid var(--grey);
    color: var(--white)
}

.btn--agree:active {
    background-color: var(--black);
    color: var(--white)
}

.stages__img {
    width: calc((100% - var(--gap)) / 2);
    border-radius: 32px;
    overflow: hidden;
    object-fit: cover;
}

.stages__img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* QUESTIONS */

.questions__container {
    padding-top: 50px;
    padding-bottom: 75px;
}

.questions__title {
    margin-bottom: 32px;
}

.questions__blocks {
    flex-wrap: wrap;
    --onrow: 3;
    gap: var(--gap);
}

.questions__block {
    width: calc((100% - (var(--gap) * (var(--onrow) - 1))) / var(--onrow));
    padding: 61px 59px 60px;
    outline: 1px solid var(--grey-lite);
    border-radius: 32px;
}

.questions__subtitle,
.questions__descr {
    max-width: 412px;
}

.questions__descr:not(:last-child) {
    margin-bottom: 15px;
}

/* FOOTER */

.footer {
    padding: 50px 0;
    background-color: var(--black);
}

.footer__container {
    justify-content: space-between;
}

.footer__logo {
    display: inline-block;
    margin-bottom: 19px;
    color: transparent;
    transition: outline 0.3s ease-in-out
}

.footer__logo:focus {
    outline: 1px solid var(--orange);
    outline-offset: 5px;
}

.footer__links {
    max-width: 370px;
    margin-right: 145px;
}

.footer__list {
    margin-bottom: 90px;
    flex-direction: column;
}

.footer__link {
    font-size: 18px;
    font-weight: 600;
    line-height: 36px;
    color: var(--grey-lite);
    transition: color 0.3s ease-in-out, outline 0.3s ease-in-out;
}

.footer__link:hover {
    color: var(--orange);
}

.footer__link:focus {
    outline: 2px solid var(--orange);
    outline-offset: 2px;
}

.footer__link:active {
    color: var(--orange-dark);
}

.footer__social {
    flex-wrap: wrap;
    gap: 25px;
}

.footer__icon svg {
    fill: var(--grey);
    transition: fill 0.3s ease-in-out, outline 0.3s ease-in-out;
}

.footer__icon:hover svg {
    fill: var(--orange);
}

.footer__icon:focus svg {
    outline: 2px solid var(--orange);
    outline-offset: 5px;
}

.footer__icon:active svg {
    fill: var(--orange-dark);
}

.footer__request {
    max-width: 570px;
    width: 100%;
    margin-right: var(--gap);
}

.footer__title {
    margin-bottom: 26px;
    color: var(--grey-lite);
}

.form__input {
    width: 100%;
    padding: 20px 24px;
    margin-bottom: 27px;
    background-color: var(--grey-dark);
    border-radius: 16px;
    outline: none;
    border-style: none;
    color: var(--grey-lite);
    transition: background-color 0.3s ease-in-out;
}

.form__textarea {
    height: 150px;
    resize: none;
}

::placeholder {
    color: var(--grey-lite);
}

.form__input:focus {
    background-color: var(--grey);
}

.form__input:hover {
    background-color: var(--grey);
    outline: none;
}

.form__input:active {
    background-color: var(--grey);
    outline: none;
}

.btn-request {
    padding: 20px 52px;
    margin-right: 20px;
    margin-bottom: 15px;
    background-color: var(--orange);
}

.form__agree {
    display: inline-block;
    user-select: none;
    cursor: pointer;
}

.form__agree-input {
    position: absolute;
    appearance: none;
}

.form__agree-text {
    position: relative;
    padding-left: 18px;
    color: var(--grey-lite);
}

.form__agree-text::before {
    content: "";
    position: absolute;
    left: 0;
    top: 2px;
    width: 14px;
    height: 14px;
    border: 1px solid var(--grey-lite);
}

.form__agree-text::after {
    content: "";
    position: absolute;
    left: 0;
    top: 2px;
    width: 14px;
    height: 14px;
    background-image: url("..//img/check.svg");
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.form__agree-input:checked+.form__agree-text::after {
    opacity: 1;
}

.form__agree-input:focus+.form__agree-text {
    outline-offset: 2px;
    outline: 2px solid var(--orange);
}

.footer__descr {
    max-width: 363px;
    margin-top: -10px;
    display: flex;
    align-items: center;
}

.footer__text {
    color: var(--grey-lite);
}